/* General-styling */
body {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
a {
  color: #06c;
}
img {
  max-width: 100%;
}
.white {
  color: #fff;
}
.black {
  color: #1d1d1f;
}
.grey {
  color: #86868b;
}

/* Header Style */
.nav-wrapper {
  background-color: #000000cc;
  font-size: 12px;
  font-weight: 200;
  margin-bottom: 0;
  height: 44px;
}

.nav-wrapper .container {
  height: 44px;
}
.nav-wrapper .navbar {
  padding: 0 10px;
}
.navbar-collapse {
  margin-left: 30px;
}
.nav-item {
  padding: 4px 0;
}
/*Nav bar*/
@media (max-width: 768px) {
  .nav-item {
    text-align: center !important;
    padding: 0;
    border-bottom: 0px;
  }
}

.alert-section-wrapper {
  background-color: #0071e3;
  margin-bottom: 0;
  padding: 55px 0px 12px;
}
.alert-section-wrapper .container {
  height: 20px;
  padding-bottom: 25;
}

.alert-text {
  font-family: FontAwesome;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #fafafa;
}

.nav-wrapper .container .navbar-brand {
  width: 18px;
}

.navbar-collapse img {
  height: 18px;
}
.nav-wrapper ul li a {
  color: #fff;
}
.navbar-toggler {
  color: #fff;
}

.header-wrapper .header-links-wrapper ul li a {
  text-decoration: none;
  color: #fff;
}
.header-wrapper ul {
  list-style: none;
}

.header-wrapper .header-links-wrapper ul li:hover {
  opacity: 1;
}

/* shop-online-wrapper */
.shop-online-wrapper {
  background-color: #f5f5f7;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 400;
}
.shop-online-wrapper a {
  text-decoration: none;
}
.shop-online-wrapper a:hover {
  text-decoration: underline;
  color: #0066cc;
}
.shop-online {
  text-align: center;
  font-size: 14px;
  padding: 14px 0;
}

/* Main Highlight wrapper */
.main-highlight-wrapper {
  background-image: url("../images/Heroes/iphone_12_us__fo0stbby242m_medium.jpg");
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 30px 0;
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .main-hightlight-wrapper {
    min-height: 692px;
    background-image: url("../images/responsive-image/resp-iphone_12_pro_us__e5oyysg4k0ya_small.jpg");
  }
}
.links-wrapper ul {
  list-style: none;
}

.product-title {
  font-weight: 600;
  font-size: 56px;
}
.price-wrapper {
  font-size: 17px;
  text-align: center;
}

.brief-description {
  font-size: 30px;
}
.links-wrapper {
  padding: 15px 0;
}
.links-wrapper ul li {
  display: inline-block;
  padding-right: 20px;
}
.links-wrapper ul li a {
  color: #06c;
  text-decoration: none;
}
.links-wrapper ul li:hover {
  text-decoration: underline;
}
.links-wrapper ul li a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
}

.second-hightlight-wrapper {
  background-image: url("../images/Heroes/iphone_12_pro.jpg");
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 65px 20px;
  color: #fff;
}
@media (max-width: 768px) {
  .second-hightlight-wrapper {
    min-height: 692px;
    background-image: url("../images/responsive-image/resp-iphone_12_pro_us__e5oyysg4k0ya_small.jpg");
  }
}

.title-wraper {
  font-weight: 600;
  font-size: 56px;
}
.description-wrapper {
  font-size: 26px;
  padding: 10px 0;
}
.price-wrapper {
  color: #86868b;
  font-size: 0.85em;
}

/* Third Highlight Section */
.third-highlight-wrapper {
  background-image: url("../images/Heroes/two-watchhero__dvsxv8smkkgi_large.jpg");
  background-color: black;
  height: 580px;
  background-repeat: no-repeat;
  background-size: initial;
  background-position: bottom;
  margin-top: 12px;
  text-align: center;
  padding-top: 43px;
  margin-bottom: 12px;
  justify-content: space-between;
  font-weight: 600;
}
.description-wrapper {
  color: white;
  font-size: 25px;
}
/*Fourth Highlight Section */
.fourth-heghlight-wrapper {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  /* background: #fff; */
}
.left-side-wrapper {
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  /* width: 48.5%; */
  /* margin: 1% 0.5% 0% 1%; */
  padding-top: 54px;
}
.fourth-heghlight-wrapper .left-side-wrapper {
  background-image: url("../images/Heroes/tile__airpadcauwwcyyn9hy_large.jpg");
}

@media (max-width: 768px) {
  .fourth-heghlight-wrapper .left-side-wrapper {
    min-height: 692px;
    background-image: url("../images/responsive-image/resp-tile__cauwwcyyn9hy_small.jpg");
  }
}
@media (max-width: 540px) {
  .fourth-heghlight-wrapper .left-side-wrapper {
    min-height: 692px;
    background-image: url("../images/responsive-image/resp-tile__cauwwcyyn9hy_small.jpg");
  }
}
.fourth-heghlight-wrapper .right-side-wrapper {
  background-image: url("../images/Heroes/promo_fitness_plus_ttw__imid633buy6a_large.jpg");
}
.right-side-wrapper {
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
}
.description-wraper {
  max-width: 430px;
  margin: 0 auto;
}

/*Fivth Highlight Section */
.fifth-heghlight-wrapper .left-side-wrapper {
  background-image: url("../images/Heroes/collection.jpg");
  background-repeat: no-repeat;
  background-size: initial;
  background-position: bottom;
  background-color: #fbfbfd;
}
.fifth-heghlight-wrapper .right-side-wrapper {
  background-image: url("../images/Heroes/hero_valentines_day.jpg");
  background-size: initial;
  background-position: bottom;
  line-height: 1.2;
}
.Love-title {
  font-size: 35px;
  font-weight: 600;
  margin-top: -12px;
}
.logo-wrapper {
  font-size: 40px;
  font-weight: bold;
}
.tvshow-logo-wraper {
  padding: 180px 0 200px;
}
.watch-more-wrapper a {
  text-decoration: none;
  font-size: 0.85em;
}
.watch-more-wrapper a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f144";
  padding-left: 15px;
}
/*Sixth Highlight Section */

.sixth-heghlight-wrapper .left-side-wrapper {
  background-image: url("../images/Heroes/tile__cauwwcyyn9hy_medium.jpg");
  background-size: initial;
  background-color: #fbfbfd;
  background-position: center;
  font-size: 21px;
}
.sixth-heghlight-wrapper .right-side-wrapper {
  background-image: url("../images/Heroes/tile_losing_alice__b9s5a9e66cdy_medium.jpg");
}

.sixth-heghlight-wrapper .right-side-wrapper .description-wraper {
  color: white;
  padding-top: 330px;
}

.watch-now-wrapper a::after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f144";
  padding-left: 15px;
  text-decoration: none;
  color: #2997ff;
}
.watch-now-wrapper a {
  text-decoration: none;
  color: #2997ff;
}
.watch-now-wrapper a:hover {
  text-decoration: underline;
}
.product-title-small {
  font-weight: 700;
  font-size: 45px;
}
.losing-logo-wrapper {
  width: 55;
  height: 20;
}
/* Footer Styling */
.footer-wrapper {
  background-color: #f5f5f7;
  color: #1d1d1f;
  font-size: 0.65em;
}
.upper-text-container {
  border-bottom: 1px solid #d2d2d7;
  color: #86868b;
  padding: 17px 0 20px;
}
.upper-text-container a {
  text-decoration: none;
  color: #515154;
}
.upper-text-container a:hover {
  text-decoration: underline;
}
.footer-links-wrapper {
  padding-top: 20px;
}
.footer-wrapper ul {
  list-style: none;
  padding-bottom: 20px;
}
.footer-wrapper ul li {
  padding: 5px 0;
  font-size: 0.9em;
}
.footer-links-wrapper a {
  color: #515154;
  text-decoration: none;
}
.footer-links-wrapper a:hover {
  text-decoration: underline;
}
.footer-links-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
  padding-left: 37px;
}
.my-apple-wrapper {
  border-bottom: 1px solid #d2d2d7;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.copyright-wrapper {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 10px 0 20px;
}

.footer-links-terms ul li {
  display: inline-block;
  padding: 0 5px;
  border-right: 1px solid #ccc;
}
.footer-links-terms ul li:last-child {
  border-right: 0px;
}
.footer-links-terms ul li a {
  text-decoration: none;
  color: #515154;
}
.footer-links-terms ul li a:hover {
  text-decoration: underline;
}
.footer-country {
  display: inline-block;
}
.flag-wrapper {
  display: inline-block;
  vertical-align: middle;
}
.footer-country-name {
  display: inline-block;
  vertical-align: top;
}
/*Media Query*/
/* Footer */
@media (max-width: 768px) {
  .nav-wrapper ul li a {
    background-color: black;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .footer-links-wrapper ul {
    display: none;
  }
  .footer-links-wrapper h3 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }

  .footer-links-wrapper h3:after {
    font-family: "FontAwesome";
    content: "\f067";
    padding-left: 10px;
    position: absolute;
    right: 25px;
  }
  .footer-links-wrapper h3.Zee:after {
    font-family: "FontAwesome";
    content: "\f00d";
    padding-left: 10px;
    position: absolute;
    right: 25px;
  }

  /* .footer-links-wrapper .icon:after {
		font-family: "FontAwesome";
		content: "\f067"; 
		padding-left: 10px;
		position: absolute;
		right: 25px;
	}
  .footer-links-wrapper .icon2:after {
		transform:rotate(45deg);
   
	} */

  /* .footer-links-wrapper .icon2:after {
		font-family: "FontAwesome";
		content: "\f00d"; 
		padding-left: 10px;
		position: absolute;
		right: 25px;
	} */
}
@media (min-width: 768px) {
  /*Footer styling*/
  .my-apple-wrapper {
    border-bottom: 1px solid #d2d2d7;
  }
  /*Sixth section*/
  .sixth-heghlight-wrapper .left-side-wrapper .left-side-container {
    margin: 5px 5px 10px 10px;
  }
  .sixth-heghlight-wrapper .right-side-wrapper .right-side-container {
    margin: 5px 10px 10px 5px;
  }
  .sixth-heghlight-wrapper .links-wrapper {
    max-width: 500px;
  }
  /*Fifth section*/
  .fifth-heghlight-wrapper .left-side-wrapper .left-side-container {
    margin: 5px 5px 5px 10px;
  }
  .fifth-heghlight-wrapper .right-side-wrapper .right-side-container {
    margin: 5px 10px 5px 5px;
  }
  /*fourth section*/
  .fourth-heghlight-wrapper .left-side-wrapper .left-side-container {
    margin: 10px 5px 5px 10px;
  }
  .fourth-heghlight-wrapper .right-side-wrapper .right-side-container {
    margin: 10px 10px 5px 5px;
  }
  .title-wraper.bold {
    font-size: 56px;
  }

  .new-alert {
    color: #bf4801;
    font-size: 18px;
  }

  .ipod-caption {
    padding-top: 415px;
  }
  /*Alert section*/
  .alert-text {
    max-width: 85%;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  /*Footer styling*/
  .copyright {
    margin-top: 10px;
  }
  .footer-country {
    margin-top: 10px;
  }
  .footer-links-terms {
    margin-top: 10px;
  }
}
